@import "helpers.scss";
@import "bulma.scss";

.card {
  border-radius: 6px;
  box-shadow: none;
  border: 1px solid #f0f0f3;
  background-color: #fff;
  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04),
      0 2px 20px 0 rgba(0, 0, 0, 0.06);
  }
}
